<!DOCTYPE html>
<html>
<head>
  <title>DevelopersConnect</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3> <%= session[:user_name] %> <%= link_to 'Logout', sessions_destroy_path %></h3>
<%= yield %>

</body>
</html>